.admin-container {
    width: 99%;
    height: 520px;
    margin: 10px;
    border: 1px solid #555;
}
.admin-left {
    width: 150px;
}
.admin-content{
    margin-top: 5px;
    padding-left: 5px;
}
